<!DOCTYPE html>
<html>
  <head>
    <title>VIT Tradestation</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
  </head>
  <body>
    <h1 class="text-blue-500">hellooooooooo</h1>
    
    <!-- // let obj  = [
    //   {id: 1,
    // name: 'undefined',
    // mobile: 2147483647,
    // reg_no: '20BCE0118',
    // mail: 'nishanth.codes@gmail.com',
    // image: 'WhatsApp Image 2022-11-09 at 8.12.21 PM.jpeg',
    // price: '234',
    // quantity: '2',
    // product_name: 'bed'},
    //   {
    //     id: 2,
    // name: 'undefined',
    // mobile: 2147483647,
    // reg_no: '3413413',
    // mail: 'madhumitha.sings@gmail.com',
    // image: 'query.png',
    // price: '23244',
    // quantity: '3',
    // product_name: 'fdsbfs'
    //   }
    // ] -->
       


    

      <h2 class="text-red-700">meowq</h2>


</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html> 